<div id="recipe" class="px-5 py-10 flex flex-col gap-10 justify-center items-center">
    <input [(ngModel)]="searchData" type="text" placeholder="Briyani..." class="bg-white rounded px-3 py-2 w-1/2">
    <div class="flex gap-4 md:w-1/2 flex-wrap justify-center w-full">
        <div (click)="selectCategory('All')" [class.bg-blue-400]="selectedCategory === 'All'"
            class="bg-blue-500 rounded-3xl py-1 px-8 cursor-pointer text-teal-50 hover:bg-blue-400">All</div>
        <div (click)="selectCategory('Breakfast')" [class.bg-blue-400]="selectedCategory === 'Breakfast'"
            class="bg-blue-500 rounded-3xl py-1 px-8 cursor-pointer text-teal-50 hover:bg-blue-400">Breakfast</div>
        <div (click)="selectCategory('Dinner')" [class.bg-blue-400]="selectedCategory === 'Dinner'"
            class="bg-blue-500 rounded-3xl py-1 px-8 cursor-pointer text-teal-50 hover:bg-blue-400">Dinner</div>
        <div (click)="selectCategory('Lunch')" [class.bg-blue-400]="selectedCategory === 'Lunch'"
            class="bg-blue-500 rounded-3xl py-1 px-8 cursor-pointer text-teal-50 hover:bg-blue-400">Lunch</div>
        <div (click)="selectCategory('Beverage')" [class.bg-blue-400]="selectedCategory === 'Beverage'"
            class="bg-blue-500 rounded-3xl py-1 px-8 cursor-pointer text-teal-50 hover:bg-blue-400">Beverage</div>
        <div (click)="selectCategory('Snack')" [class.bg-blue-400]="selectedCategory === 'Snack'"
            class="bg-blue-500 rounded-3xl py-1 px-8 cursor-pointer text-teal-50 hover:bg-blue-400">Snack</div>
        <div (click)="selectCategory('Dessert')" [class.bg-blue-400]="selectedCategory === 'Dessert'"
            class="bg-blue-500 rounded-3xl py-1 px-8 cursor-pointer text-teal-50 hover:bg-blue-400">Dessert</div>
        <div (click)="selectCategory('Side Dish')" [class.bg-blue-400]="selectedCategory === 'Side Dish'"
            class="bg-blue-500 rounded-3xl py-1 px-8 cursor-pointer text-teal-50 hover:bg-blue-400">Side Dish</div>
        <div (click)="selectCategory('Appetizer')" [class.bg-blue-400]="selectedCategory === 'Appetizer'"
            class="bg-blue-500 rounded-3xl py-1 px-8 cursor-pointer text-teal-50 hover:bg-blue-400">Appetizer</div>
    </div>
</div>


<div  class="flex flex-wrap gap-3 justify-evenly p-3">
    <div *ngFor="let i of filteredRecipes() | search:searchData " class="card  glass w-80 shadow-xl">
        <figure class="cursor-pointer">
            <img routerLink="/single/{{i.id}}" src={{i.image}} alt="Shoes" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">
                {{i.name}}
                <!-- <div class="badge badge-secondary">NEW</div> -->
            </h2>
            <p></p>
            <div class="card-actions justify-end">
                <div class="badge badge-outline">{{i.difficulty}}</div>
                <div class="badge badge-outline">{{i.cuisine}}</div>
            </div>
        </div>
    </div>


</div>