<div
  class="hero min-h-screen "
  style="background-image: url(assets/banner.jpg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold text-white">Welcome to Taste Treasures</h1>
      <p class="mb-5 text-white">
        Discover delicious dishes made with the freshest ingredients. Join us for a memorable dining experience.
      </p>
      <button (click)="scrollToSection('recipe')" class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>